section{
    display: flex;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-color: rgba(253, 255, 255, 0.548);
    padding: 4%;
    border-radius: 10px;
}
.bg{
    padding-left: 7.3%;
    padding-right: 7.3%;
}
.about-us{
    font-size: large;
}
h1{
    color: yellow;
    padding-bottom: 7%;
}